asgiref==3.11.0
Brotli==1.1.0
cffi==2.0.0
cssselect2==0.8.0
Django==6.0
django-stubs-ext==5.2.8
django-tasks==0.11.0
djangorestframework==3.16.1
fonttools==4.60.1
narwhals==2.10.1
packaging==25.0
pillow==11.2.1
plotly==6.3.1
pycparser==2.23
pydyf==0.11.0
pyphen==0.17.2
python-decouple==3.8
sqlparse==0.5.3
tinycss2==1.4.0
tinyhtml5==2.0.0
typing_extensions==4.15.0
weasyprint==66.0
webencodings==0.5.1
xlsxwriter==3.2.9
zopfli==0.2.3.post1
